<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>Views</string>
		<key>isGroup</key>
		<true/>
		<key>children</key>
		<array>
			<dict>
				<key>label</key>
				<string>Quotes</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Authors</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Topics</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Big View</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Single View</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>label</key>
		<string>Curated</string>
		<key>isGroup</key>
		<true/>
		<key>children</key>
		<array>
			<dict>
				<key>label</key>
				<string>Top 5</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Last Import</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Weird</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Inspirational</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Favorites</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>label</key>
		<string>Collections</string>
		<key>isGroup</key>
		<true/>
		<key>children</key>
		<array>
			<dict>
				<key>label</key>
				<string>Long</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Short</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
			<dict>
				<key>label</key>
				<string>In English</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Big View</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
			<dict>
				<key>label</key>
				<string>In Spanish</string>
				<key>iconName</key>
				<string>NSUser</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
